<div class="dashboard-container">

  <aside class="sidebar" [class.closed]="!isSidebarOpen()">

    <div class="user-profile-section">
      @if (userQuery.data(); as user) {
      <div class="avatar-container">
        <img class="avatar-img" [class.loaded]="userQuery.data()"
          [src]="userQuery.data()?.photoUrl || 'assets/default-avatar.png'"
          [alt]="userQuery.data()?.nombre || 'Usuario'" />

        <div class="avatar-skeleton" *ngIf="userQuery.isLoading()"></div>
      </div>
      <h3 class="user-name text-capitalize">{{ user.nombre }}</h3>
      <span class="user-role">CLIENTE</span>
      }
      @else if (userQuery.isLoading()) {
      <div class="avatar-container skeleton-pulse"></div>
      <div class="user-name-placeholder skeleton-pulse"></div>
      }
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="pedidos" routerLinkActive="active">
            <i class="bi bi-box-seam icon"></i>
            <span>Pedidos</span>
          </a>
        </li>
        <li>
          <a routerLink="formulas" routerLinkActive="active">
            <i class="bi bi-file-earmark-medical icon"></i>
            <span>Fórmulas</span>
          </a>
        </li>
        <li>
          <a routerLink="pagos" routerLinkActive="active">
            <i class="bi bi-credit-card icon"></i>
            <span>Pagos</span>
          </a>
        </li>

        <li class="separator"></li>

        <li>
          <a routerLink="profile" routerLinkActive="active">
            <i class="bi bi-person-circle icon"></i>
            <span>Mi Cuenta</span>
          </a>
        </li>
        <li>
          <a routerLink="/catalogo">
            <i class="bi bi-shop icon"></i>
            <span>Volver al comercio</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="sidebar-footer">
      <button class="logout-btn">
        <i class="bi bi-box-arrow-right icon"></i>
        <span>Cerrar Sesion</span>
      </button>
    </div>
  </aside>

  <main class="main-content">

    <button class="mobile-toggle" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>